<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new invite from <%= @invite.email %>!</p>
    <p>
    Invite Details<br>
    --------------------------
    </p>
    <p>Email: <%= @invite.email %></p>

    <p>
    Message:<br>
    ----------
    </p>
    <p>You have been invited to join a friendtrip group!</p>
  </body>
</html>
