<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2 class="accent-red font center"> Hello <%= @user %> Welcome to FriendTrip! </h2>
    <br/>
    <p>
    You have been invited by a friend to join a FriendTrip group! Please look below for your log-in credentials, and click link below when you are ready to sign in!
    <br/>----------
    </p>
    <h4>Your log-in:</h4>
    <h5>User Name: <%= @email %></h5>
    <h5>Password: <%= @password %></h5>
    <a href="friendtrip-bt.herokuapp.com">Sign In Here</a>
  </body>
</html>
