@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

body {
  margin: 15px 25px 15px 25px;
}

.top-bar-color {
  color: #FF003C;
}
.text {
  font-family: 'Francois One', sans-serif;
  font-size: 35;
}

.text-white{
  font-family: 'Francois One', sans-serif;
  color: #ffffff;
}

.list {


}

.font{
    font-family: 'Francois One', sans-serif;
}
.white {
    background-color: #ffffff;
}
.link {
    font-family: 'Francois One', sans-serif;
}

.header {
  font-family: 'Francois One', sans-serif;
  margin-top: 10px;
  color: #00C176;
  font-size: 25;
}
.myNavbar   {
    border-bottom-style: solid;
    border-bottom-width: 75px;
    border-bottom-color: #FF003C;
}

.top-margin {
  margin-top: 50px;
}

.short-column {
    float: left;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
    border-style:inherit;
    width: 45%;
    border-radius: 15px;
    border: 5px solid #FABE28;
    margin: 0 0 0 35px;
    padding: 15px 15px 15px 15px;
}

.form {
    font-family: 'Francois One', sans-serif;
}

.border-blue {
  border-radius: 15px;
  border: 5px solid #1BB0CE
}

.border-red {
  border-radius: 15px;
  border: 5px solid #FF003C;
  align-items: center;
  margin-top: auto;
}

.submit-blue{
  background-color: #1BB0CE;
  border-radius: 15px;
  border: 5px solid #FABE28;
  color: white;
  padding: 16px 32px;
  font-family: 'Francois One', sans-serif;
  margin: 1px 3px;
  cursor: pointer;
}

.submit{
  background-color: #FABE28;
  border-radius: 15px;
  border: 5px solid #FABE28;
  color: white;
  padding: 16px 32px;
  font-family: 'Francois One', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
}

.submit:hover{
  border-radius: 15px;
  border: 5px solid #FF003C;
  color: #FF003C;
}


.middle {
  vertical-align: middle;
}

.text-right {
  text-align: right;
  font-family: 'Francois One', sans-serif;
}

.column {
  float: left;
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  border-style:inherit;
  width: 45%;
  border-radius: 15px;
  border: 5px solid #FABE28;
  margin: 0 0 0 35px;
  padding: 15px 15px 15px 15px;

}

.column-2 {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  border-style:inherit;
  width: 45%;
  border-radius: 15px;
  border: 5px solid #FABE28;
  margin: 15px 15px 15px 15px;
  padding: 5px 10px 5px 5px;

}

#map1,#map2,#map3,#map4 {
  height: 300px;
  max-width: 400px;
  margin: auto;
}

#map {
  height: 300px;
  max-width: 800px;
  margin: auto;
}

.field {
    font-family: 'Francois One', sans-serif;
    $label-color: #88C100;
    font-size: 15;
}

.submit-button{
  $button-color: #88C100;
}

.align-items {
  align-self: auto;
  width: auto;
}

.perimeter {
  border: 5px solid #FABE28;
  justify-content: center;
}

.line{
    width: auto;
    height: 0px;
    border-bottom: 3px solid #00C176;
    align-content: center;
}

.green {
  color: #00C176;
}

.background-yellow {
  color: #FABE28;
}

.text-yellow {
  color: #FABE28;
  font-family: 'Francois One', sans-serif;
}

.center {
  text-align: center;
}

.text-blue {
  color: #1BB0CE;
  font-family: 'Francois One', sans-serif;
  text-decoration-style: solid;
}
.accent-red {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #FF003C;;
}

.page-title {
  font-family: 'Francois One', sans-serif;
  font-size: 30;
  color:#00C176;
  margin-top: 15px;
  margin-bottom: 30px;
}

.text-green {
  color: #00C176;
}

.items-body-content {
  padding: 30px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  // background-color: lightblue;
  font-size: 30px;
  grid-gap: 10px;
  border: 5px solid transparent;
  cursor: pointer;
}

.items-body-content:hover {
  border-radius: 15px;
  border: 5px solid #FABE28;
  color: #FF003C;
}

.square {
border-radius: 15px;
border: 5px solid #FABE28;
margin: 15px 15px 15px 15px;
padding: 5px 10px 5px 5x;

}

.cube {
  display: inline-block;
  margin: 0 10px;
}

.cell {
  margin: 20px 20px 20px 50px;
}

.border {
  margin: 15px 15px 15px 15px;
  padding: 5px 10px 5px 5x;
  border-radius: 25px;
}

.callout {
  margin: 15px 15px 15px 15px;
  padding: 5px 10px 5px 5x;
  border-radius: 25px;
  border-color: #FABE28;
  background-color: #FABE28;
}


.frame-yellow{
  border-style: solid;
  border-radius: 40px;
  border-color: #FABE28;
}

.frame {
  background: #FABE28;
  border-style:none ;
  box-shadow: 5px 10px;
  color: #FF003C;
  border-radius: 40px;
}
