@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T");
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Londrina+Solid:wght@900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    zoom: 90%;
    overflow: scroll;
}

.backdrop{
  background-color: black;
  filter: opacity(.1);
  border-radius: 20px;
  z-index: 0;
}

.blur-back{
  background: inherit;
  position: absolute;
  overflow: hidden;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
  react-backdrop-filter: blur(10px);
  z-index: 1;
}

.radius{
  border-radius: 10px;
}


.block{
  display: inline-block;
}

.blur-text{
  z-index: 2;
  color: #ffffff;
}

.top-bar-color {
  color: #FF003C;
}

.text {
  font-family: 'Francois One', sans-serif;
  font-size: 35;
}

.blur-div{
  background: inherit;
  overflow: hidden;
}

.container {
 background-color: rgba(255, 255, 255, .15);
 backdrop-filter: blur(5px);
}

col-5, col-6, col-xs-12, col-md-5{
  display: flex;
  flex-wrap: wrap;
}

.margin-right{
  margin-right: 0;
}

.blur-div:before {
  content: " ";
  background: inherit;
  position: absolute;
  overflow: hidden;
  filter: blur(20px);
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
  backdrop-filter: blur(5px);
}

.no-blur{
  filter: blur(0px);
}

.text-white{
  font-family: 'Francois One', sans-serif;
  color: #ffffff;
}

.bodytext{
  padding:4%;
  font-family: 'Anton', sans-serif;
  font-family: 'Londrina Solid', cursive;
}
.title{
    font-family: 'Londrina Solid', cursive;
    color: white;
}

.font{
    font-family: 'Francois One', sans-serif;
    color: white;
}

.white-back {
  background-color: white;
}

.link {
    font-family: 'Francois One', sans-serif;
}

.bot-pad{
  padding-bottom: 5%;
}

.header {
  font-family: 'Francois One', sans-serif;
  margin-top: 10px;
  color: #00C176;
  font-size: 25;
}



.friendtrip-logo{
  max-width: 150px;
  height: 150px;
}

.myNavbar {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  width: 100%;
}

.top-margin {
  margin-top: 50px;
}

.short-column {
    float: left;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    border-style:inherit;
    width: 45%;
    border-radius: 15px;
    border: 5px solid #FABE28;
    margin: 0 0 0 35px;
    padding: 15px 15px 15px 15px;
}

.form {
    font-family: 'Francois One', sans-serif;
}

.border-blue {
  border-radius: 15px;
  border: 5px solid #1BB0CE
}

.border-red {
  border-radius: 15px;
  border: 5px solid #FF003C;
  align-items: center;
  margin-top: auto;
}

.border-green{
  font-family: 'Francois One', sans-serif;
  border-radius: 15px;
  border: 5px solid #00C176;
  align-items: center;
  margin-top: auto;
  color: #00C176
}
.hover-text{
  font-family: 'Francois One', sans-serif;
  border-radius: 15px;
  text-emphasis-color: white;
}
.hover-text:hover {
  color: white;
  background-color: #FABE28;
}

.border-green:hover{
  border-radius: 15px;
  border: 5px solid #FABE28;
  color: #FF003C;
}


.bg-signin{
  background: image-url("friends-home.jpg");
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
  background-size:cover;
}

.bg-gray{
  background: image-url("AboutUs.jpg");
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
  background-size:cover;
}

.top-pad{
  padding-top: 5rem;
}


.bigbox{
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  border: 1px solid #EDEBE6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.submit-blue{
  background-color: #1BB0CE;
  border-radius: 15px;
  border: 5px solid #FABE28;
  color: white;
  padding: 16px 32px;
  font-family: 'Francois One', sans-serif;
  margin: 1px 3px;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center
}

.submit{
  background-color: #FABE28;
  border-radius: 15px;
  border: 5px solid #FABE28;
  color: white;
  padding: 16px 32px;
  font-family: 'Francois One', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
}

.submit:hover{
  border-radius: 15px;
  border: 5px solid #FF003C;
  color: #FF003C;
}


.middle {
  vertical-align: middle;
}

.text-right {
  text-align: right;
  font-family: 'Francois One', sans-serif;
}

.column {
  float: left;
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  border-style:inherit;
  width: 45%;
  border-radius: 15px;
  border: 5px solid #FABE28;
  margin: 0 0 0 35px;
  padding: 15px 15px 15px 15px;

}

.column-2 {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  border-style:inherit;
  width: 45%;
  border-radius: 15px;
  border: 5px solid #FABE28;
  margin: 15px 15px 15px 15px;
  padding: 5px 10px 5px 5px;

}

.left-pad{
  padding-left: 1%;
}

.red-top{
  border-top: 4px solid #FF003C;
}

#map1,#map2,#map3,#map4,#map5,#map6,#map7,#map8 {
  height: 300px;
  max-width: 100%;
  margin: auto;
}

.pad{
  padding: 5%;
}

#map {
  height: 300px;
  max-width: 800px;
  margin: auto;
}

.field {
    font-family: 'Francois One', sans-serif;
    $label-color: #88C100;
    font-size: 15;
}

.submit-button{
  $button-color: #88C100;
}

.align-items {
  align-self: auto;
  width: auto;
}

.perimeter {
  border: 5px solid #FABE28;
  justify-content: center;
}

.line{
    width: auto;
    height: 0px;
    border-bottom: 1px solid white;
    align-content: center;
}

.green {
  color: #00C176;
}

.background-yellow {
  color: #FABE28;
}

.text-yellow {
  color: #FABE28;
  font-family: 'Francois One', sans-serif;
}

.center {
  text-align: center;
  align-items: center;
}

.text-blue {
  color: #1BB0CE;
  font-family: 'Francois One', sans-serif;
  text-decoration-style: solid;
}

.accent-red {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  color: #FF003C;
}

.white {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
}

.accent-white {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

.yellow-title{
  font-family: 'Francois One', sans-serif;
  color: #FABE28;
  display: inline;
  vertical-align: middle;
  font-size: 50px;
}

.left-blue{
  border-left: 8px solid #1BB0CE;
}

.right-yellow{
  border-right: 8px solid #FABE28;
  text-align: left;
}

.accent-white:hover {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
  transform: scale(1.25);
  color: #FF003C;
  text-decoration: none;
}

col-6{
  align-items: center;
}

.page-title {
  font-family: 'Francois One', sans-serif;
  font-size: 30;
  color:#00C176;
  margin-top: 15px;
  margin-bottom: 30px;
}

.text-green {
  color: #00C176;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  font-size: 30px;
  grid-gap: 10px;
  border: 5px solid transparent;
  cursor: pointer;
}

.square {
display: inline-block;
border-radius: 15px;
border: 5px solid #FABE28;
margin: 15px 15px 15px 15px;
padding: 5px 10px 5px 5px;

}

.top-shad{
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

.display-col{
  background: inherit;
  position:absolute;
  padding: 5%;
  margin: 10%;
  background-filter: blur(20px);
  overflow:auto;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
  background-color: white;
  z-index: 0;
}

.center-box{
  text-align: center;
}
.cube {
  display: inline-block;
  margin: 0 10px;
}

.trim{
  border: 1px solid gray;
  height: 100%;
  border-radius: 15px;
  text-transform: uppercase;
}

.front{
  z-index:2;
  justify-content: center;
  align-items: center;
}

.cell {
  margin: 20px 20px 20px 50px;
}

.bord {
  border-radius: 15px;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.vert-line {
  border-left: 1px solid black;
  float: left;
}

.opac{
  z-index:3;
}

.opac-black{
  background-color: black;
  opacity: .6;
}

.home-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url("home-page.jpg");
  background-attachment: fixed;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-size: cover;
  box-shadow: inset 0 7px 9px -7px black;
  z-index: 3;
}

.bg{
  background-attachment: fixed;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  background-size:cover;
  box-shadow: inset 0 7px 9px -7px black;
}

.add-link{
  color: white;
  font-family: 'Francois One', sans-serif;
  opacity: .5;
}

.add-link:hover {
  text-decoration: none;
  transform: scale(1.5);
  opacity: 1;
  color: white;
}

.row{
  justify-content: center;
}

.icon{
  margin: 5%;
  border-radius: 10px;
  width: 65px;
  height: 65px;
  box-shadow: 0 8px 6px -6px black;
  spacing: 5%;
}

.nav-white{
  background-color: white;
  box-shadow: 0 8px 6px -6px black;
}

.vert{
  vertical-align: middle;
}

.inline{
  display: inline;
}

.no-wrap{
  white-space: nowrap;
  font-size: 2rem;
}

.gray-line{
  color: white;
}

.border {
  margin: 15px 15px 15px 15px;
  padding: 5px 10px 5px 5x;
  border-radius: 25px;
}

.mid-float{
  float: none;
  margin: auto;
}

.callout {
  margin: 15px 15px 15px 15px;
  padding: 5px 10px 5px 5x;
  border-radius: 25px;
  border-color: #FABE28;
  background-color: #FABE28;
}


.frame-yellow{
  border-style: solid;
  border-radius: 40px;
  border-color: #FABE28;
}

.frame {
  background: #FABE28;
  border-style:none ;
  box-shadow: 5px 10px;
  color: #FF003C;
  border-radius: 40px;
}
