@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Londrina+Solid:wght@900&display=swap');

@import "bootstrap";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    zoom: 90%;
    overflow: scroll;
}

.opac-black{
  background-color: black;
  opacity: .95;
}

.clear{
    clear:both;
}

.opac-black-tile{
  background-color: black;
  opacity: .75;
}

.showme{
  display: none;
}

.showhim:hover .showme{
  display : block;
}

.showhim:hover .hideme{
  display : none;
}

.showhim:hover ~ .hideme2{
  display:none;
}

.opac-black-tile:hover{
  opacity: .95;
}

.hide{
  display: none;
}

.my:hover .hide{
  display: block;
}

.btn{
  background-color: #1BB0CE;
  color: white;
  height: 50px;
  width: 100px;
  font-size: medium;
  text-align: center;
}

.invert{
  filter: invert(25%);
}

.sub{
  opacity: 0;
}

.darken{
  background-blend-mode: darken;
}

.sub:hover{
  background-color: white;
}

.sign-in{
  background-color: white;
  box-shadow: 0 8px 6px -6px gray;
}

.diff{
  mix-blend-mode:difference;
}

.bg-reg{
  background: image-url("friends-home.jpg");
  background-position: center;
  background-blend-mode: darken;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  filter: blur(20px);
  background-size:cover;
  z-index: -1;
  overflow: visible;
}

.z1{
  z-index: 10;
}

.backdrop{
  background-color: black;
  filter: opacity(.1);
  border-radius: 20px;
  z-index: 0;
}

label{
  color: solid white;
}

.form-style{
  border: none;
  background-color: inherit;
}

.field{
  padding: 5%;
  outline: none;
  text-decoration-color: white;
  color: white;
}

.blur-back{
  background: inherit;
  position: absolute;
  overflow: hidden;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
  react-backdrop-filter: blur(10px);
  z-index: 1;
}

hr {
  color: gray;
}

.between {
  display: flex;
  justify-content: space-between;
}

.no-dec{
  text-decoration: none!important;
}

.radius{
  border-radius: 10px;
}


.block{
  display: inline-block;
}

.blur-text{
  z-index: 2;
  color: #ffffff;
}

.top-bar-color {
  color: #FF003C;
}

.text-sm {
  font-family: 'Francois One', sans-serif;
  font-size: 20;
}

.text {
  font-family: 'Francois One', sans-serif;
  font-size: 35;
}

.blur-div{
  background: inherit;
  overflow: hidden;
}

.container {
 background-color: rgba(255, 255, 255, .15);
 backdrop-filter: blur(5px);
}

col-3, col-5, col-6, col-8, col-xs-12, col-md-5{
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

.tall{
  height: 100%;
}

.click-block{
  color: #1BB0CE;
  font-family: 'Francois One', sans-serif;
}

.click-block:hover{
  border-left: 5px solid #FABE28;
  border-right: 5px solid #FABE28;
  color: #FF003C;
}

.margin-right{
  margin-right: 0;
}

.blur-div:before {
  content: " ";
  background: inherit;
  position: absolute;
  overflow: hidden;
  filter: blur(20px);
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
  backdrop-filter: blur(5px);
}

.no-blur{
  filter: blur(0px);
}

.text-white{
  font-family: 'Francois One', sans-serif;
  color: #ffffff;
  text-transform: capitalize;
}

.bodytext{
  padding:4%;
  font-family: 'Anton', sans-serif;
  font-family: 'Londrina Solid', cursive;
}
.title{
    font-family: 'Londrina Solid', cursive;
    color: white;
}

.font{
    font-family: 'Francois One', sans-serif;
    color: white
}

.just-font{
  font-family: 'Francois One', sans-serif;
}

.resize-font{
  overflow: auto;
  display: flex-wrap;
}

.resize-font1{
  font-size: 3.5vw;
  overflow: auto;
}

.scroll{

   animation: linear 10s;
}

.scroll:hover{

}

.vote-click{
  font-family: 'Francois One', sans-serif;
  color: #00C176;
}

.vote-click:hover{
  transform: scale(1.1);
}

.vote{
  border-radius: 360px;
  width: 50px;
}

.light-bord{
  border: 2px solid #FABE28;
  border-radius: 10px;
}

.white-back {
  background-color: white;
}

.link {
    font-family: 'Francois One', sans-serif;
}

.width{
  width: 100%;
  padding: 1rem;
}

.anim{
  animate: 15s linear infinite;
}

.bot-pad{
  padding-bottom: 5%;
}

.header {
  font-family: 'Francois One', sans-serif;
  margin-top: 10px;
  color: #00C176;
}

.friendtrip-logo{
  max-height: 150px;
  max-width: 350px;
  position:relative;
}

.friendtrip-name{
  height: 150px;
}

.myNavbar {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  width: 100%;
}

.separate{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.top-margin {
  margin-top: 50px;
}

.short-column {
    float: left;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    border-style:inherit;
    width: 45%;
    border-radius: 15px;
    border: 5px solid #FABE28;
    margin: 0 0 0 35px;
    padding: 15px 15px 15px 15px;
}

.hide{
  display: none;
}

.display{
  display: block;
}


.bot-bord{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.top-bord{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.form {
    font-family: 'Francois One', sans-serif;
}

.white-yell{
  font-family: 'Francois One', sans-serif;
  color: white;
}

.white-yell:hover{
  color: #FABE28;
}

.bg-signin{
  background: image-url("friends-home.jpg");
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
  background-size:cover;
}

.blur-box{
  border-radius: 15px;
  filter:blur(25px);
  z-index: 1
}

.bg-gray{
  background: image-url("AboutUs.jpg");
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
  background-size:cover;
}

.top-pad{
  padding-top: 5rem;
}

.backdrop{
  filter: blur(20px);
  padding: 10%;
}

.bigbox{
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  border: 1px solid #EDEBE6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.submit-blue{
  background-color: #1BB0CE;
  border-radius: 15px;
  border: 5px solid #FABE28;
  color: white;
  padding: 16px 32px;
  font-family: 'Francois One', sans-serif;
  margin: 1px 3px;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center
}


.submit{
  background-color: #FABE28;
  border-radius: 15px;
  border: 5px solid #FABE28;
  color: white;
  padding: 16px 32px;
  font-family: 'Francois One', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
}

.submit:hover{
  border-radius: 15px;
  border: 5px solid #FF003C;
  color: #FF003C;
}


.middle {
  vertical-align: middle;
}

.text-right {
  text-align: right;
  font-family: 'Francois One', sans-serif;
}

.column {
  float: left;
  display: inline;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  border-style:inherit;
  width: 45%;
  border-radius: 15px;
  margin: 0 0 0 35px;
  padding: 15px 15px 15px 15px;
  overflow:hidden;
}

.column-2 {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  border-style:inherit;
  width: 45%;
  border-radius: 15px;
  border: 5px solid #FABE28;
  margin: 15px 15px 15px 15px;
  padding: 5px 10px 5px 5px;

}

.left-pad{
  padding-left: 1%;
}

.red-top{
  border-top: 4px solid #FF003C;
}

#map1,#map2,#map3,#map4,#map5,#map6,#map7,#map8, #map9, #map10, #map11, #map12, {
  height: 250px;
  max-width: 100%;
  margin: auto;
}

.short-map{
  height: 200px !important;
}

.pad{
  padding: 5%;
}

.head-pad{
  padding-bottom: 5%;
}

#map {
  height: 300px;
  max-width: 800px;
  margin: auto;
}

.field {
    font-family: 'Francois One', sans-serif;
    $label-color: #88C100;
    font-size: 15;
}

.submit-button{
  $button-color: #88C100;
}

.align-items {
  align-self: auto;
  width: auto;
}

.perimeter {
  border: 5px solid #FABE28;
  justify-content: center;
}

.line{
    width: auto;
    height: 0px;
    border-bottom: 1px solid white;
    align-content: center;
}

.green {
  color: #00C176;
}

.background-yellow {
  color: #FABE28;
}

.text-yellow {
  color: #FABE28;
  font-family: 'Francois One', sans-serif;
}

.flight-head{
  color: white;
  font-family: 'Francois One', sans-serif;
}

.blue-click{
  color: white;
  font-family: 'Francois One', sans-serif;
}

.blue-click:hover{
  color: #1BB0CE;
  transform: scale(1.1);
}

.blue-hover:hover{
  border-top: 3px solid #1BB0CE;
  border-bottom: 3px solid #1BB0CE;
}

.flight-head:hover{
  color: #1BB0CE;
  border-bottom: 3px solid #1BB0CE;
  border-bottom: 3px solid #1BB0CE;
}

.flight-show:hover{
  border-bottom: 3px solid #1BB0CE;
  border-bottom: 3px solid #1BB0CE;
}

.center {
  text-align: center;
  align-items: center;
}

.text-blue {
  color: #1BB0CE;
  font-family: 'Francois One', sans-serif;
  text-decoration-style: solid;
}

.flash{
  background: inherit;
  filter: opacity(1);
  color: #1BB0CE;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.scrollable{
  overflow-x:hidden;
  overflow-y:auto;
  height: 100vw;
}


.accent-red {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  color: #FF003C;
}

.white {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
}

.accent-white {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

.form-field{
  padding-left: 1px;
  text-align: center;
  padding-right: 1px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border: 0 solid white;
  border-radius: 7px;
}

.review-box{
  border-radius: 7px;
  background-color: #2B2B2B;
}

.yellow-title{
  font-family: 'Francois One', sans-serif;
  color: #FABE28;
  display: inline;
  vertical-align: middle;
  font-size: 50px;
}

.right-blue{
  border-right: 8px solid #1BB0CE;
}

.text-purp{
  color: #9C27B0;
  font-family: 'Francois One', sans-serif;
}

.right-purp{
  border-right: 8px solid #9C27B0;
}

.left-red{
  border-left: 8px solid #FF003C;
}


.search{
  margin: 0;
  max-width: 800px;
}


.left{
  display: inline-block;
  text-align: left;
}

.right-yellow{
  border-right: 8px solid #FABE28;
}

.right-green{
  border-right: 8px solid #00C176;
}

.no-pad{
  padding: 0;
}

.white-blue{
  font-family: 'Francois One', sans-serif;
  color: white;
  font-weight: bold;
}

.bold-blue{
  font-family: 'Francois One', sans-serif;
  color: #1BB0CE;
  font-weight: bold;
}

.white-blue:hover {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  transform: scale(1.25);
  color: #1BB0CE;
  text-decoration: none;
}

.accent-white:hover {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
  transform: scale(1.25);
  color: #FF003C;
  text-decoration: none;
}

col-6{
  align-items: center;
}

.page-title {
  font-family: 'Francois One', sans-serif;
  font-size: 30;
  color:#00C176;
  margin-top: 15px;
  margin-bottom: 30px;
}

.text-green {
  color: #00C176;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  font-size: 30px;
  grid-gap: 10px;
  border: 5px solid transparent;
  cursor: pointer;
}

.square {
display: inline-block;
border-radius: 15px;
border: 5px solid #FABE28;
margin: 15px 15px 15px 15px;
padding: 5px 10px 5px 5px;

}

.top-shad{
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

.display-col{
  background: inherit;
  position:absolute;
  padding: 5%;
  margin: 10%;
  background-filter: blur(20px);
  overflow:auto;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
  background-color: white;
  z-index: 0;
}

.center-box{
  text-align: center;
}
.cube {
  display: inline-block;
  margin: 0 10px;
}

.trim{
  border: 1px solid gray;
  height: 100%;
  border-radius: 15px;
  text-transform: uppercase;
}

.front{
  z-index:2;
  justify-content: center;
  align-items: center;
}

.cell {
  margin: 20px 20px 20px 50px;
}

.bord {
  border-radius: 15px;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.vert-line {
  border-left: 1px solid black;
  float: left;
}

.big{
  font-size: 80;
}

.no-dec:hover{
  color: #FF003C;
  transform: scale(1.05);
}

.butt:hover{
  transform: scale(1.1);
}
.opac{
  z-index:3;
}

.sides-pad{
  padding-left: 1rem;
  padding-right: 1rem;
}

.opac-black{
  background-color: black;
  backdrop-filter: blur(35px) opacity(.7);
}

.dark{
  background-color: black;
  filter: opacity(.6);
}

.float{
  float: left;
  display: inline;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.home-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url("home-page.jpg");
  background-attachment: fixed;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-size: cover;
  box-shadow: inset 0 7px 9px -7px black;
  z-index: 3;
}

.inset{
  box-shadow: inset 0 7px 9px -7px black;
}

.logo{
  width: 200px;
  height: auto;
}

.fl-logo{
  width: 45px;
  height: auto;
  vertical-align: middle;
}

.new-trip-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url("new-trip.jpg");
  background-attachment: fixed;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-size: cover;
  box-shadow: inset 0 7px 9px -7px black;
  z-index: 3;
}

.bg{
  background-attachment: fixed;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  overflow:auto;
  background-size:cover;
  box-shadow: inset 0 7px 9px -7px black;
}

.add-link{
  color: white;
  font-family: 'Francois One', sans-serif;
  opacity: .5;
}

.split{
  display: flex;
  justify-content: space-between;
}

.add-link:hover {
  text-decoration: none;
  transform: scale(1.5);
  opacity: 1;
  color: white;
}

.row{
  justify-content: center;
  display: flex;
}

.all-sides:hover{
  box-shadow: 0 0 10px gray;
}

.no-top{
  padding-top: 0px;
  margin-top: 0px;
}

.grid{
  display: grid;
}

.right-head{
  position: relative;
  float: right;
  text-align: right;
}

.no-bot{
  padding-bottom: 0;
  margin-bottom: 0;
}

.float-right{
  float: right;
}

.table{
  display: table-cell;
}

.absolute{
  position: absolute;
}

.corners{
  display: inline;
  vertical-align: middle;
  margin: 5%;
  border-radius: 15px;
  width: 65px;
  height: 65px;
  box-shadow: 0 8px 6px -6px black;
  spacing: 5%;
  position:relative;
}

.icon{
  display: inline;
  vertical-align: middle;
  margin: 5%;
  border-radius: 10px;
  width: 65px;
  height: 65px;
  box-shadow: 0 0 30px gray;
  spacing: 5%;
  position:relative;
}

.user-photo{
  border-radius: 360;
  display: inline;
  width: 50px;
  height: 50px;
  spacing: 5%;
  position: relative;
}

.fixed{
  position: fixed;
}

.icon-small{
  display: inline;
  vertical-align: middle;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  position:relative;
}

.nav-white{
  background-color: white;
  box-shadow: 0 8px 6px -6px black;
  vertical-align: middle;
}

.black{
  background-color: black;
  color: white;
}

.vert{
  vertical-align: middle;
}

.fifty{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.inline{
  display: inline;
}

.nav{
  text-decoration: none;
}

.no-wrap{
  white-space: nowrap;
  overflow: hidden;
}

.gray-line{
  color: white;
}

.dark-div{
  background-color: black;
  backdrop-filter: opacity(.5);
}

.border {
  margin: 15px 15px 15px 15px;
  padding: 5px 10px 5px 5x;
  border-radius: 25px;
}

.side-pad{
  padding-left: 20px;
  padding-right: 20px;
}

.sm-side-pad{
  padding-left: 5px;
  padding-right: 5px;
}

.mid-float{
  text-align: center;
  float: none;
  margin: auto;
}

.flex{
  display: flex;
  text-align: center;
}

.wide-field{
  min-width: 80%;
}

.callout {
  margin: 15px 15px 15px 15px;
  padding: 5px 10px 5px 5x;
  border-radius: 25px;
  border-color: #FABE28;
  background-color: #FABE28;
}

.frame {
  background: #FABE28;
  border-style:none ;
  box-shadow: 5px 10px;
  color: #FF003C;
  border-radius: 40px;
}

.topnav {
  background-color: white;
}

.topnav a {
  float:inherit;
  display:inline-block;
  color: #FABE28;
  filter: opacity(.6);
  text-align: center;
  margin-right: 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Francois One', sans-serif;
  align-items: center;
  box-sizing:border-box;
  border-radius: 5px;
}

.topnav a:hover {
  text-decoration: none;
  color: #FABE28;
  transform: scale(1.1);
  filter: opacity(1);
}
