<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    </style>
  </head>

  <body>
    <%= yield %>
      <div>
        You have been invited by ___ to join a FriendTrip

        Click this invite link to join!
      </div>
  </body>
</html>
